body{
    margin: 0;
    padding: 0;
    background: url("https://media.architecturaldigest.com/photos/5ce2ee3e5f30b21420897607/master/w_1600,h_2000,c_limit/Wallpaper_Full_Feather_Coral_MV_Crop_BASE.jpg");   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}