body{
    margin: 0;
    padding: 0;
    background: url("https://img4.goodfon.com/wallpaper/nbig/0/1e/countries-red-black-world.jpg");   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}